  
  .info{
    display: flex;
  }
  
  .picture{
    width: 230px;
    height: 230px;
  }
  
  .description{
    padding: 20px 0px 50px 50px;
    font-size: 20px;
  }
  
  .name{
    font-size: 30px;
  }

  .status{
    padding:10px 0px;
  }